.logo-holder {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.logo-holder {
    border: 2px solid black;
    border-radius: 2rem;
}

#logo {
    width: 150px;
    border-radius: 2rem;
}

.small-logo {
    width: 45px;
}

.checkout-button,
.checkout-button:visited {
    display: flex;
    align-items: center;
    font-size: 1rem;
    padding: 0.25rem;
    text-decoration: none;
}

.small-name:visited {
    color: red;
}

.checkout-button:hover {
    color: white;
    filter: invert(48%) sepia(29%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);
    cursor: pointer;
}

.cart {
    display: flex;
    align-items: center;
}

.header-element-holder {
    position: sticky;
    top: 0;
    background-color: white;
}